<div class="card">
  <img
    [src]="elemEvento.image"
    class="card-img-top"
    [alt]="elemEvento.title"
    [ngStyle]="alturaImage"
  />
  <div class="card-body">
    <h4 class="card-title">{{ elemEvento.title | titlecase }}</h4>
    <p class="card-text">{{ elemEvento.description }}</p>
  </div>
  <div class="card-footer text-muted">
    {{ elemEvento.date | date: "dd/MM/y" }}
    <span class="float-right">{{
      elemEvento.price | currency: "EUR":"symbol"
    }}</span>
  </div>
  <button class="btn btn-danger ml-3 float-right" (click)="delEvento()">Delete</button>
</div>
